* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Allerta Stencil';
    src: url('../font/AllertaStencil-Regular.ttf');
}

html,
body {
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

H1 {
    color: #fff;
    font-size: 33px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    line-height: 43px;
}

H2 {
    font-size: 33px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    line-height: 43px;
}

H3 {
    font-size: 26px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}

H4 {
    font-size: 20px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

H5 {
    font-size: 20px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;
}

H6 {
    font-size: 16px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.wite {
    color: #fff;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1248px;
}

#logo a {
    display: inline-block;
    font-size: 35px;
    font-family: Allerta Stencil;
    font-style: normal;
    font-weight: 400;
    line-height: 40.5px;
    cursor: pointer;
}

#logo:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #A18A68;
    transition: width 0.5s ease;
}

#logo:hover:after {
    width: 100%;
}

.gold {
    color: #A18A68;
}

.nav a,
.menu a {
    display: inline-block;
}

.nav a:after,
.menu a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #A18A68;
    transition: width 0.5s ease;
}

.nav a:hover:after,
.menu a:hover:after {
    width: 100%;
}

.menu-a {
    margin-right: 39px;
}

.hr {
    background: #707070;
    width: 1px;
    height: 17px;
    margin-right: 48px;
}

ul {
    margin-right: 48px;
    margin-left: 500px;
}

li {
    float: left;
    list-style-type: none;
}

li a {
    padding: 32px;
    display: block;
}

/* SECTION */

.banner {
    background-image: url(../css/img/screen.jpeg);
    width: 1248px;
    height: 646px;
    border-radius: 16px;
    margin-top: 16px;
}

.banner_label {
    margin-top: 226px;
    margin-left: 50px;
}

.btn_banner {
    margin-top: 48px;
    border-radius: 6px;
    border: 2px solid var(--light-colors-white-light, #FFF);
    width: 193px;
    height: 53px;
    background-color: Transparent;
    color: #fff;
    cursor: pointer;
}

.btn_banner:hover {
    background-color: #fff;
    color: #000;
    transition: background-color 0.5s ease-out;
    transition: color 0.5s ease-out;
}

.btn_banner:active {
    background-color: Transparent;
    color: #fff;
}

.slider {
    display: flex;
    justify-content: center;
    margin-top: 185px;
}

/* MAIN */

main {
    margin-top: 64px;
    width: 1248px;
}

.label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.view a {
    color: var(--light-colors-accent-light, #A18A68);

    font-size: 20px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.view:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #A18A68;
    transition: width 1s ease;
}

.view:hover:after {
    width: 100%;
}

.label_link a {
    font-size: 33px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    line-height: 43px;
}

.label_link:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #A18A68;
    transition: width 1s ease;
}

.label_link:hover:after {
    width: 100%;
}

.catalog {
    margin-top: 39px;
    display: flex;
    align-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
}

.catalog,
.puk {
    display: flex;
    justify-content: space-between;
}

.puk {
    display: flex;
    flex-direction: column;
    width: 377px;
    height: 472px;
    border: #fff solid 1px;
    margin-bottom: 86px;
}

.puk::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #A18A68;
    transition: width 1s ease;
}

.puk:hover:after {
    width: 100%;
}

.puk_img {
    width: 377px;
    height: 380px;
    border-radius: 8px 8px 0px 0px;
    background-image: url(../css/img/this/1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

.puk_img2 {
    width: 377px;
    height: 380px;
    border-radius: 8px 8px 0px 0px;
    background-image: url(../css/img/this/2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

.puk_img3 {
    width: 377px;
    height: 380px;
    border-radius: 8px 8px 0px 0px;
    background-image: url(../css/img/this/3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

.puk_img4 {
    width: 377px;
    height: 380px;
    border-radius: 8px 8px 0px 0px;
    background-image: url(../css/img/this/4.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

.puk_img5 {
    width: 377px;
    height: 380px;
    border-radius: 8px 8px 0px 0px;
    background-image: url(../css/img/this/5.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

.puk_img6 {
    width: 377px;
    height: 380px;
    border-radius: 8px 8px 0px 0px;
    background-image: url(../css/img/this/6.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

.img_menu {
    content: "";
    border-radius: 8px 8px 0px 0px;
    background: rgba(255, 255, 255);
    width: 380px;
    height: 380px;
    opacity: 0.8;
    margin-top: -104%;
    display: none;

}

.i_shopping {
    content: url(../css/img/shopping.svg);
    padding: 15px;
}

.i_heart {
    content: url(../css/img/heart.svg);
    padding: 15px;
}

.i_glass {
    content: url(../css/img/glass.svg);
    padding: 15px;
}

.i_shopping:hover {
    background-color: #000;
    content: url(../css/img/shopping_active.svg);
    border-radius: 8px;
}

.i_heart:hover {
    background-color: #000;
    content: url(../css/img/heart_active.svg);
    border-radius: 8px;
}

.i_glass:hover {
    background-color: #000;
    content: url(../css/img/glass_active.svg);
    border-radius: 8px;
}

.puk:hover .img_menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER */

footer {
    margin-top: 253px;
    width: 1248px;
    border-top: solid #D8D8D8 1px;
}

#footer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.footer-nav {
    display: flex;
    gap: 40px;
}

.footer-nav a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #A18A68;
    transition: width 1s ease;
}

.footer-nav a:hover:after {
    width: 100%;
}

.spam {
    border-bottom: 1px solid black;
    padding: 13;
}

input[type=text] {
    background-color: none;
    border: none;
    background-color: transparent;
    color: inherit;
    outline: none;
    width: 340px;
}

.copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 92px;
}

/* Слайдер */

.itc-slider {
    position: relative;
    height: 646px;
  }
  
  .itc-slider__wrapper {
    overflow: hidden;
  }
  
  .itc-slider__items {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
  }
  
  .itc-slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    user-select: none;
    will-change: transform;
  }
  
  /* РєРЅРѕРїРєРё РІР»РµРІРѕ Рё РІРїСЂР°РІРѕ */
  .itc-slider__btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 50px;
    color: #fff;
    text-align: center;
    background: rgb(0 0 0 / 20%);
    border: none;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .itc-slider__btn_next {
    right: 0;
  }
  
  .itc-slider__btn:hover,
  .itc-slider__btn:focus {
    color: #fff;
    text-decoration: none;
    background: rgb(0 0 0 / 30%);
  }
  
  .itc-slider__btn::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }
  
  .itc-slider__btn_prev::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  
  .itc-slider__btn_next::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
  
  .itc-slider__indicator {
    flex: 0 1 auto;
    box-sizing: content-box;
    width: 30px;
    height: 5px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgb(255 255 255 / 50%);
    background-clip: padding-box;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    cursor: pointer;
  }