 * {
    margin: 0;
    padding: 0;
 }

 html,
 body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
 }

.heart {
    background-image: url(favorites.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 380px;
    height: 370px;
    filter: grayscale(100%);
}


.heart:active {
    filter: none;
    transform: scale(1.2);
    transition: transform 1s;
}



 footer {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .bar {
    border: black solid 2px;
    width: 250px;
    margin-top: 10px;
 }

 .item {
    background-color: coral;
    width: 10px;
    height: 10px;
 }

 .animal {
    animation: bar 3s infinite;

 }

 @keyframes bar {
     0% {
        margin-left: 0;
     }

     50% {
        margin-left: 100%;
     }
 }




 .mySite {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafad2;
    width: 580px;
    height: 290px;
    padding: 20px;
 }

 h1 {
    text-transform: uppercase;
 }

 .icons {
    display: flex;
    margin-top: 50px;
 }

.img-1 {
    background-image: url(/calc.png);
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    transform: rotate(-0.1turn);
}

.img-2 {
    background-image: url(/book.png);
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}

.img-3 {
    background-image: url(/paper.png);
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}

.img-4 {
    background-image: url(/pallete.png);
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}